body { background: #b273a6; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-notify-0 { color: #ef603b; font-size: 19px; margin-bottom: 5px; }
.block-helper-1 { color: #451148; font-size: 17px; margin-bottom: 5px; }
.block-order-2 { color: #a75911; font-size: 19px; margin-bottom: 5px; }
.block-search-3 { color: #7a3dde; font-size: 16px; margin-bottom: 5px; }
.block-payment-4 { color: #7658cb; font-size: 18px; margin-bottom: 5px; }
.block-notify-5 { color: #ed8cc0; font-size: 16px; margin-bottom: 5px; }
.block-uploader-6 { color: #add1df; font-size: 16px; margin-bottom: 5px; }
.block-cart-7 { color: #99df25; font-size: 15px; margin-bottom: 5px; }